.knight{
    /* background-color: ; */
    width: 90%;
    height: 90%;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    opacity: 1;
    cursor: move;
}

.isdragging{
    opacity: 0.5;
}